body {
    background-image: url('pictures/coarsepaper.jpg');
    background-color: #e4e0e0;
}

h1 {
    font-family: 'Arial Narrow Bold';
    font-size: 32px;
    padding: 5px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgba(235, 232, 232, 0.874);
    font-variant: small-caps;
}
p,
h3,
li {
    font-variant: small-caps;
    display: flex;
    justify-content: center;
    background-color: rgba(235, 232, 232, 0.874);
    color: rgb(48, 52, 52);
}
a{
    font-weight: bold;
    text-decoration: dotted;
    color:rgb(152, 41, 174)
}